<header>
    <div class="p-grid">
          <div class="p-col-4 p-md-2 p-lg-3">
            <div class="logo">
              <img src="assets/images/logo.png" alt="logo">
            </div>
          </div>
          <div class="p-col-3 p-md-3 p-lg-4 search">
              Search
          </div>
          <div class="p-offset-1 p-col-4 p-md-4 p-lg-3 navigation">
              <ngshop-nav></ngshop-nav>
          </div>
          <div class="p-col-2 p-md-2 p-lg-1 tools">
            <i class="pi pi-user"></i>
            <i class="pi pi-shopping-cart"></i>
          </div>
      </div>
</header>
