
#nav{
  //margin-top: 14%;

  // Par default
  .hide-desktop, .hide-menu{
    display: none;
  }

  @media only screen and (max-width: 480px) {
    li {
      .show-menu{
        display: block;
      }
    }
  }



  li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    a{
      display: block;
    }

    &:hover{
      background-color: rgba(55, 124, 41, 0.4);
    }
  }

  a{
    color: var(--surface-900);
    cursor: pointer;

    &:hover{
      color: $primary-color;
    }
  }
}


