.nav{
  margin-top: 17.5%;

  li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }

  a{
    color: var(--surface-900);
    cursor: pointer;

    &:hover{
      color: $primary-color;
    }
  }
}
